#header-container {
    margin: 0;
}

#header-menu {
    height: 150px;
    padding-top: 80px;
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 35%, #ff7c00 61%, #ff7f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(35%,#ffa73d), color-stop(61%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 35%,#ff7c00 61%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 35%,#ff7c00 61%,#ff7f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 35%,#ff7c00 61%,#ff7f04 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 35%,#ff7c00 61%,#ff7f04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

}

#header-menu .navbar-inverse {
    background-color: #06859D;
    border-color: #06859D;
}

#header-menu a {
    color: #FF7F04;
    font-weight: bold;
}

#header-menu a:hover {
    color: #c76404;
    font-weight: bold;
}

#main-container {
    height: 100%;
    border: 1px solid #FF7F04;
}

.btn-search {
    background-color: #FF7F04;
    color: #06859D;
}

#content {
    float: left;
    width: 70%;
    height: 100%;
}

#sidebar {
    float: right;
    width: 30%;
    height: 100%;
    padding: 0 10px 0 50px;
}

.prev-article-container, .article-container {
    margin: 10px 0;
    clear: both;
}

.prev-article-title, .article-title {
    float: left;
    font-size: 30px;
    font-weight: bold;
}

.prev-article-date, .article-date {
    float: right;
    margin: 0 5px;
}

.prev-article-body, .article-body {
    clear: both;
}

.prev-article-body img {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 200px;
    max-height: 100px;
}

.article-body img {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 50%;
    max-height: 500px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0 10px;
}