{% if articles > 0 %}
    {% for article in articles %}
        {{ include("BlogBundle::_article.html.twig", {article: article}) }}
    {% endfor %}
    {% if hasMore %}
        <div id="more-container">
            <div class="navbar navbar-inverse" onclick="showMoreArticles('{{ path('more_articles') }}');">
                <h2>Show more</h2>
            </div>
        </div>
    {% endif %}
{% endif %}